.tracks-list{
    width: 60%;
    margin: 20px auto;
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 7px;
}


.track-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}

.list-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;

}